<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
</head>

<body>
    <script></script>
    <script>
        console.log("This is working")
        var cities = !{ cities };
        console.log(cities)
    </script>
    <div class="container-fluid bg-primary">
        <nav class="navbar navbar-expand-sm">
            <a class="navbar-brand" href="/">Exercise 5</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarItems"
                aria-controls="navbarItems" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarItems">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home
                            <span class="sr-only"> (current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/map">Map
                            <span class="sr-only"> (current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/chart">Chart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/impressum">Impressum </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <div id="map"></div>
    </div>
    <!--MY FUNCTIONS-->
    <link rel="stylesheet" href="./public/stylesheets/stylesheet.css">
    <script defer src="./public/javascripts/renderingMap.js"></script>
</body>

</html>